<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

	<canvas id="test" width="500" height="200" aria-label="Hello ARIA World"></canvas>
	
<script>
	var username = "{{username|safe}}";
	var repo_data = {{repo_data|safe}};
	var commit_data = {{commit_data|safe}};
	var count_data = {{count_data|safe}};
	console.log(commit_data);
	for(i=0 ; i< commit_data.length; i++){
		for(j=0 ; j< commit_data[i].length; j++){
			commit_data[index_1][index] = commit_data[index_1][index].slice(0,10);
		}
	}
</script>

</body>

</html>