<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
if(sessionStorage.getItem("username") == null or sessionStorage.getItem("username") != "{{ username }}"){
    var endpoint = '/api/{{username}}';
    $.ajax({
        method: "GET",
        data: {info:info},
        url: endpoint,
        success: function(data){
            sessionStorage.setItem("username", data['username']);
            sessionStorage.setItem("repo_data", data['repo_data']);	
            sessionStorage.setItem("commit_data", data['commit_data']);
            sessionStorage.setItem("count_data", data['count_data']);
	    	console.log(data);
        },
        error: function(error_data){
            console.log(error_data)
        }
    });
}
</script>
